body{
  background: rgb(14, 14, 77);
  color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
}

button{
  color: midnightblue;
  background:rgba(245, 245, 220, 0.854);
  border: 2px double rgb(102, 102, 212);
   border-radius: 15%;
   font-size: 15px;
   font-weight: 400;
   width: 50px;
}
button:hover{
background: rgb(168, 156, 136);
font-family:Arial, Helvetica, sans-serif;
  border: 2px dotted rgb(55, 55, 156);
 
}
table th{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

